<a href="https://colab.research.google.com/github/aaubs/ds-master/blob/main/notebooks/M5-db-sql-intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import sqlite3
import pandas as pd

# Introduction to the Structured Quary LAnguage (SQL)

Text......

In [2]:
!wget -O flights.db https://github.com/aaubs/ds-master/blob/main/data/flights.db?raw=true.1

--2023-03-17 13:27:21--  https://github.com/aaubs/ds-master/blob/main/data/flights.db?raw=true.1
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/aaubs/ds-master/raw/main/data/flights.db [following]
--2023-03-17 13:27:21--  https://github.com/aaubs/ds-master/raw/main/data/flights.db
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/aaubs/ds-master/main/data/flights.db [following]
--2023-03-17 13:27:21--  https://raw.githubusercontent.com/aaubs/ds-master/main/data/flights.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5415936 (5.2M) [application/octet-stream]
Saving to: ‘flights.db’

flights.db          100%[===================>]   5.17M  --.-KB/s    in 0.08s

2023-03-17 13:27:22 (65.3 MB/s) - ‘flights.db’ saved [5415936/5415936]

In [3]:
# Establish connection to DB
con = sqlite3.connect("flights.db")

#. Set up a cursor
cur = con.cursor()

In [4]:
# Defining a query
sql_query = """
  SELECT name FROM sqlite_master
  WHERE type='table';
  """
    
# executing our sql query
cur.execute(sql_query)

In [5]:
# Fetching teh results
cur.fetchall()

[('airports',), ('airlines',), ('routes',)]

We have three different tables in the database.

In [10]:
query = pd.read_sql_query('''select * from airports limit 5;''', con)
query

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

In [11]:
query = pd.read_sql_query('''select * from airlines limit 5;''', con)
query

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N

In [12]:
query = pd.read_sql_query('''select * from routes limit 5;''', con)
query

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2