<a href="https://colab.research.google.com/github/aaubs/ds-master/blob/main/notebooks/M5-db-nosql-lntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Unstructured (NoSQL) Databases

In this tutorial, we'll introduce NoSQL databases, specifically using the TinyDB library in Python. TinyDB is a lightweight, document-oriented NoSQL database, perfect for beginners to learn the basics of NoSQL.

In [2]:
!pip install tinydb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tinydb
  Downloading tinydb-4.7.1-py3-none-any.whl (24 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.7.1

## First example

In [5]:
import pandas as pd
from tinydb import TinyDB, Query

In [6]:
# Initialize a new TinyDB instance
db = TinyDB('my_database.json')

**Populating the database the database:** Lets get some data in first:

In [7]:
# PÃ…opulating database with some data
students = [
    {'name': 'Mette', 'age': 26, 'major': 'Data Science'},
    {'name': 'Jeppe', 'age': 22, 'major': 'Data Science'},
    {'name': 'John', 'age': 23, 'major': 'Computer Science'},
    {'name': 'David', 'age': 24, 'major': 'Data Science'},
    {'name': 'Pernille', 'age': 25, 'major': 'Economics'},
    {'name': 'Alexandra', 'age': 21, 'major': 'Economics'},
]

# Insert the students into the database
for student in students:
    db.insert(student)

**Querying the database:** TinyDB allows us to perform various types of queries on the database. Let's explore some common query operations:

In [8]:
# Query object to perform queries
Student = Query()

In [9]:
# Find all students majoring in Data Science
data_science_students = db.search(Student.major == 'Data Science')
print("Data Science students:", data_science_students)

Data Science students: [{'name': 'Mette', 'age': 26, 'major': 'Data Science'}, {'name': 'Jeppe', 'age': 22, 'major': 'Data Science'}, {'name': 'David', 'age': 24, 'major': 'Data Science'}]

In [10]:
# Find all students who are 24 years old
students_24 = db.search(Student.age == 24)
print("Students aged 24:", students_24)

Students aged 24: [{'name': 'David', 'age': 24, 'major': 'Data Science'}]

In [11]:
# Find all students whose name starts with 'A'
students_starting_with_A = db.search(Student.name.matches('^A.*'))
print("Students whose name starts with 'A':", students_starting_with_A)

Students whose name starts with 'A': []

In [12]:
# Find all students who are majoring in Data Science and are 22 years old
data_science_and_22 = db.search((Student.major == 'Data Science') & (Student.age == 22))
print("Data Science students aged 22:", data_science_and_22)

Data Science students aged 22: [{'name': 'Jeppe', 'age': 22, 'major': 'Data Science'}]

**Updating data in the database:** To update an entry in the database, use the update method.

In [13]:
# Update Alexandras age
db.update({'age': 23}, Student.name == 'Alexandra')

[]

**Removing data from the database:** To remove entries from the database, use the remove method.

In [14]:
# Remove all Business Modelling students
db.remove(Student.major == 'Business Modelling')

[]