<a href="https://colab.research.google.com/github/aaubs/ds-master/blob/main/notebooks/M6_Exercises_for_the_Bike_Sharing_Demand_Dataset_using_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exercise 1
Load the dataset into a Spark DataFrame and display the first 5 rows.

In [ ]:
!pip install pyspark --q

In [ ]:
import pandas as pd

df_bike_sharing = pd.read_csv("https://raw.githubusercontent.com/arifuddinatif/Bike-Sharing-Demand-Prediction/main/SeoulBikeData.csv", encoding="ISO-8859-1")
df_bike_sharing.to_csv('bike-sharing-demand.csv', index=False)

In [ ]:
from pyspark.sql import SparkSession

+----------+-----------------+----+---------------+-----------+----------------+----------------+-------------------------+-----------------------+------------+-------------+-------+----------+---------------+
|      Date|Rented Bike Count|Hour|Temperature(°C)|Humidity(%)|Wind speed (m/s)|Visibility (10m)|Dew point temperature(°C)|Solar Radiation (MJ/m2)|Rainfall(mm)|Snowfall (cm)|Seasons|   Holiday|Functioning Day|
+----------+-----------------+----+---------------+-----------+----------------+----------------+-------------------------+-----------------------+------------+-------------+-------+----------+---------------+
|01/12/2017|              254|   0|           -5.2|         37|             2.2|            2000|                    -17.6|                    0.0|         0.0|          0.0| Winter|No Holiday|            Yes|
|01/12/2017|              204|   1|           -5.5|         38|             0.8|            2000|                    -17.6|                    0.0|         0.0|          0.0| Winter|No Holiday|            Yes|
|01/12/2017|              173|   2|           -6.0|         39|             1.0|            2000|                    -17.7|                    0.0|         0.0|          0.0| Winter|No Holiday|            Yes|
|01/12/2017|              107|   3|           -6.2|         40|             0.9|            2000|                    -17.6|                    0.0|         0.0|          0.0| Winter|No Holiday|            Yes|
|01/12/2017|               78|   4|           -6.0|         36|             2.3|            2000|                    -18.6|                    0.0|         0.0|          0.0| Winter|No Holiday|            Yes|
+----------+-----------------+----+---------------+-----------+----------------+----------------+-------------------------+-----------------------+------------+-------------+-------+----------+---------------+
only showing top 5 rows

##Exercise 2
Display the total number of rows in the dataset.

In [ ]:
rowCount = 
print("Total number of rows in the dataset:", rowCount)

Total number of rows in the dataset: 8760

In [ ]:
bikeSharingDF.dtypes

[('Date', 'string'),
 ('Rented Bike Count', 'int'),
 ('Hour', 'int'),
 ('Temperature(°C)', 'double'),
 ('Humidity(%)', 'int'),
 ('Wind speed (m/s)', 'double'),
 ('Visibility (10m)', 'int'),
 ('Dew point temperature(°C)', 'double'),
 ('Solar Radiation (MJ/m2)', 'double'),
 ('Rainfall(mm)', 'double'),
 ('Snowfall (cm)', 'double'),
 ('Seasons', 'string'),
 ('Holiday', 'string'),
 ('Functioning Day', 'string')]

In [ ]:
bikeSharingDF.columns

['Date',
 'Rented Bike Count',
 'Hour',
 'Temperature(°C)',
 'Humidity(%)',
 'Wind speed (m/s)',
 'Visibility (10m)',
 'Dew point temperature(°C)',
 'Solar Radiation (MJ/m2)',
 'Rainfall(mm)',
 'Snowfall (cm)',
 'Seasons',
 'Holiday',
 'Functioning Day']

## Exercise 3
Display the number of unique values in the 'season' column.

In [ ]:
uniqueSeasons = 

print("Number of unique values in the 'season' column:", uniqueSeasons)

Number of unique values in the 'season' column: 4

##Exercise 4
Display the average temperature for each season.

In [ ]:
from pyspark.sql.functions import avg

avgTempBySeason = 
avgTempBySeason.show()

+-------+--------------------+
|Seasons|avg(Temperature(°C))|
+-------+--------------------+
| Spring|  13.046693840579712|
| Summer|  26.582789855072505|
| Autumn|    14.1208333333333|
| Winter| -2.5404629629629607|
+-------+--------------------+

##Exercise 5
Display the minimum and maximum temperature for each season.

In [ ]:
from pyspark.sql.functions import min, max

tempRangeBySeason = 
tempRangeBySeason.show()

+-------+--------------------+--------------------+
|Seasons|min(Temperature(°C))|max(Temperature(°C))|
+-------+--------------------+--------------------+
| Spring|                -6.6|                29.4|
| Summer|                16.3|                39.4|
| Autumn|                -3.0|                30.5|
| Winter|               -17.8|                10.3|
+-------+--------------------+--------------------+

##Exercise 6
Display the number of rentals per year.

In [ ]:
from pyspark.sql.functions import to_timestamp, year, sum, desc

+----+----------------------+
|year|sum(Rented Bike Count)|
+----+----------------------+
|2018|               5986984|
|2017|                185330|
+----+----------------------+

##Exercise 7
Display the average number of rentals per hour.

In [ ]:
avgRentalsPerHour = 
avgRentalsPerHour.show()

+----+----------------------+
|Hour|avg(Rented Bike Count)|
+----+----------------------+
|  12|     699.4410958904109|
|  22|     922.7972602739726|
|   1|     426.1835616438356|
|  13|     733.2465753424658|
|   6|     287.5643835616438|
|  16|     930.6219178082192|
|   3|    203.33150684931508|
|  20|     1068.964383561644|
|   5|    139.08219178082192|
|  19|    1195.1479452054793|
|  15|      829.186301369863|
|   9|     645.9835616438356|
|  17|     1138.509589041096|
|   4|     132.5917808219178|
|   8|    1015.7013698630137|
|  23|     671.1260273972603|
|   7|     606.0054794520548|
|  10|     527.8219178082192|
|  21|    1031.4493150684932|
|  11|     600.8520547945205|
+----+----------------------+
only showing top 20 rows

##Exercise 8
Display the days with the highest number of rentals.

In [ ]:
from pyspark.sql.functions import to_timestamp, year, sum, desc, first

maxRentalsByDay = 
maxRentalsByDay.show(10)

+----------+----------------------+
|      Date|sum(Rented Bike Count)|
+----------+----------------------+
|13/06/2018|                 36149|
|19/06/2018|                 35349|
|08/06/2018|                 35103|
|20/06/2018|                 34639|
|21/06/2018|                 34621|
|12/06/2018|                 34544|
|16/06/2018|                 34360|
|22/06/2018|                 34079|
|06/07/2018|                 33676|
|15/06/2018|                 33492|
+----------+----------------------+
only showing top 10 rows

##Exercise 9
Display the average number of rentals per season.

In [ ]:
bikeSharingDF.columns

['Date',
 'Rented Bike Count',
 'Hour',
 'Temperature(°C)',
 'Humidity(%)',
 'Wind speed (m/s)',
 'Visibility (10m)',
 'Dew point temperature(°C)',
 'Solar Radiation (MJ/m2)',
 'Rainfall(mm)',
 'Snowfall (cm)',
 'Seasons',
 'Holiday',
 'Functioning Day',
 'datetime',
 'year']

In [ ]:
avgRentalsBySeason = 
avgRentalsBySeason.show()

+-------+----------------------+
|Seasons|avg(Rented Bike Count)|
+-------+----------------------+
| Spring|             730.03125|
| Summer|    1034.0733695652175|
| Autumn|     819.5979853479854|
| Winter|     225.5412037037037|
+-------+----------------------+

##Exercise 10
Display the average number of rentals for Holiday and no Holiday.

In [ ]:
avgRentalsByWeather = 
avgRentalsByWeather.show()

+----------+----------------------+
|   Holiday|avg(Rented Bike Count)|
+----------+----------------------+
|No Holiday|     715.2280259365995|
|   Holiday|    499.75694444444446|
+----------+----------------------+

##Exercise 11
Display the average number of rentals per day of the week.

In [ ]:
from pyspark.sql.functions import dayofweek

avgRentalsByDayOfWeek = 
avgRentalsByDayOfWeek.show()

+---------+----------------------+
|dayOfWeek|avg(Rented Bike Count)|
+---------+----------------------+
|        1|     625.1554487179487|
|        6|     747.1179245283018|
|        3|     687.9775641025641|
|        5|     690.7043269230769|
|        4|      740.349358974359|
|        7|     709.5288461538462|
|        2|     730.5633012820513|
+---------+----------------------+

##Exercise 12
Display the average number of rentals per month.

In [ ]:
from pyspark.sql.functions import month

avgRentalsByMonth = 
avgRentalsByMonth.show()

+-----+----------------------+
|month|avg(Rented Bike Count)|
+-----+----------------------+
|   12|     249.0994623655914|
|    1|     201.6209677419355|
|    6|    1245.6763888888888|
|    3|     511.5510752688172|
|    5|     950.3870967741935|
|    9|     935.5722222222222|
|    4|     728.0930555555556|
|    8|     876.1922043010753|
|    7|     987.1774193548387|
|   10|     874.5631720430108|
|   11|     646.8263888888889|
|    2|    225.94196428571428|
+-----+----------------------+

## Exercise 13
Display the busiest hour of the day.

In [ ]:
busiestHour = 

busiestHour.show()

+----+----------------------+
|hour|sum(Rented Bike Count)|
+----+----------------------+
|  18|                548568|
|  19|                436229|
|  17|                415556|
+----+----------------------+

## Exercise 14
Display the busiest day of the year.

In [ ]:
busiestDayOfYear = 

busiestDayOfYear.show()

+----------+----------------------+
|      date|sum(Rented Bike Count)|
+----------+----------------------+
|13/06/2018|                 36149|
+----------+----------------------+

##Exercise 15
Display the average number of rentals per hour, grouped by Holiday or no Holiday.

In [ ]:
avgRentalsByHourAndWeather = 

avgRentalsByHourAndWeather.show()

+----------+----+----------------------+
|   Holiday|hour|avg(Rented Bike Count)|
+----------+----+----------------------+
|No Holiday|  18|    1539.3544668587897|
|No Holiday|  19|    1219.6945244956773|
|No Holiday|  17|     1154.487031700288|
|No Holiday|  20|    1087.3890489913545|
|No Holiday|   8|    1050.3112391930836|
|No Holiday|  21|    1049.7665706051873|
|No Holiday|  22|     939.7060518731988|
|No Holiday|  16|     938.0403458213257|
|No Holiday|  15|     833.4092219020173|
|   Holiday|  17|                 830.5|
+----------+----+----------------------+

##Exercise 16

Display the busiest hour of the day for each season.

In [ ]:


busiestHourBySeason.show()

+-------+-----------+
|Seasons|busiestHour|
+-------+-----------+
| Spring|         18|
| Summer|         18|
| Autumn|         18|
| Winter|         18|
+-------+-----------+

##Exercise 17
Display the average number of rentals per hour, grouped by day of the week.

In [ ]:

avgRentalsByHourAndDayOfWeek.show()

+---------+----+----------------------+
|dayOfWeek|Hour|avg(Rented Bike Count)|
+---------+----+----------------------+
|        3|  22|     900.2307692307693|
|        3|  15|     701.6538461538462|
|        7|  21|     993.6153846153846|
|        6|  20|     1111.188679245283|
|        1|   0|     638.8461538461538|
|        4|  10|     563.4807692307693|
|        5|  16|     803.4615384615385|
|        6|   1|     431.6792452830189|
|        3|   1|    380.38461538461536|
|        7|   4|    184.82692307692307|
|        2|   2|     199.8653846153846|
|        6|  22|     987.2641509433962|
|        3|  13|     663.4615384615385|
|        7|  14|     959.2115384615385|
|        2|  19|    1294.4807692307693|
|        3|  18|    1552.3461538461538|
|        1|   7|    205.23076923076923|
|        7|   1|     597.1730769230769|
|        1|  20|     989.8461538461538|
|        2|   3|    132.76923076923077|
+---------+----+----------------------+
only showing top 20 rows

##Exercise 18
Display the percentage of rentals that were taken on weekends.

In [ ]:
from pyspark.sql.functions import dayofweek
totalRentals = 
weekendRentals = 
weekendPercentage = weekendRentals / totalRentals * 100
print("Percentage of rentals that were taken on weekends:", weekendPercentage)

Percentage of rentals that were taken on weekends: 26.986410607107803