<a href="https://colab.research.google.com/github/aaubs/ds-master/blob/main/notebooks/M6_Exercises_for_the_Bike_Sharing_Demand_Dataset_using_Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exercise 1
Load the dataset into a Spark DataFrame and display the first 5 rows.

In [ ]:
!pip install polars --q

In [ ]:
import pandas as pd

df_bike_sharing = pd.read_csv("https://raw.githubusercontent.com/arifuddinatif/Bike-Sharing-Demand-Prediction/main/SeoulBikeData.csv", encoding="ISO-8859-1")
df_bike_sharing.to_csv('bike-sharing-demand.csv', index=False)

In [ ]:
import polars as pl

bikeSharingDF = 
bikeSharingDF.head(5)

shape: (5, 14)
┌────────────┬────────────┬──────┬────────────┬───┬────────────┬─────────┬────────────┬────────────┐
│ Date       ┆ Rented     ┆ Hour ┆ Temperatur ┆ … ┆ Snowfall   ┆ Seasons ┆ Holiday    ┆ Functionin │
│ ---        ┆ Bike Count ┆ ---  ┆ e(°C)      ┆   ┆ (cm)       ┆ ---     ┆ ---        ┆ g Day      │
│ str        ┆ ---        ┆ i64  ┆ ---        ┆   ┆ ---        ┆ str     ┆ str        ┆ ---        │
│            ┆ i64        ┆      ┆ f64        ┆   ┆ f64        ┆         ┆            ┆ str        │
╞════════════╪════════════╪══════╪════════════╪═══╪════════════╪═════════╪════════════╪════════════╡
│ 01/12/2017 ┆ 254        ┆ 0    ┆ -5.2       ┆ … ┆ 0.0        ┆ Winter  ┆ No Holiday ┆ Yes        │
│ 01/12/2017 ┆ 204        ┆ 1    ┆ -5.5       ┆ … ┆ 0.0        ┆ Winter  ┆ No Holiday ┆ Yes        │
│ 01/12/2017 ┆ 173        ┆ 2    ┆ -6.0       ┆ … ┆ 0.0        ┆ Winter  ┆ No Holiday ┆ Yes        │
│ 01/12/2017 ┆ 107        ┆ 3    ┆ -6.2       ┆ … ┆ 0.0        ┆ Winter  ┆ No Holiday ┆ Yes        │
│ 01/12/2017 ┆ 78         ┆ 4    ┆ -6.0       ┆ … ┆ 0.0        ┆ Winter  ┆ No Holiday ┆ Yes        │
└────────────┴────────────┴──────┴────────────┴───┴────────────┴─────────┴────────────┴────────────┘

##Exercise 2
Display the total number of rows in the dataset.

In [ ]:
rowCount = 
print("Total number of rows in the dataset:", rowCount)

Total number of rows in the dataset: 8760

In [ ]:
bikeSharingDF.columns

['Date',
 'Rented Bike Count',
 'Hour',
 'Temperature(°C)',
 'Humidity(%)',
 'Wind speed (m/s)',
 'Visibility (10m)',
 'Dew point temperature(°C)',
 'Solar Radiation (MJ/m2)',
 'Rainfall(mm)',
 'Snowfall (cm)',
 'Seasons',
 'Holiday',
 'Functioning Day']

## Exercise 3
Display the number of unique values in the 'season' column.

In [ ]:
uniqueSeasons = 
print("Number of unique values in the 'season' column:", uniqueSeasons)

Number of unique values in the 'season' column: 4

##Exercise 4
Display the average temperature for each season.

In [ ]:
avgTempBySeason = 
avgTempBySeason['Temperature(°C)']

shape: (4,)
Series: 'Temperature(°C)' [f64]
[
	13.046694
	14.120833
	-2.540463
	26.58279
]

##Exercise 5
Display the minimum and maximum temperature for each season.

In [ ]:
temp_range_by_season = 
temp_range_by_season

shape: (4, 3)
┌─────────┬──────────┬──────────┐
│ Seasons ┆ temp_min ┆ temp_max │
│ ---     ┆ ---      ┆ ---      │
│ str     ┆ f64      ┆ f64      │
╞═════════╪══════════╪══════════╡
│ Summer  ┆ 16.3     ┆ 39.4     │
│ Autumn  ┆ -3.0     ┆ 30.5     │
│ Spring  ┆ -6.6     ┆ 29.4     │
│ Winter  ┆ -17.8    ┆ 10.3     │
└─────────┴──────────┴──────────┘

##Exercise 6
Display the number of rentals per year.

<ipython-input-9-2e5370ced5c8>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  bikeSharingDF = bikeSharingDF.with_column(pl.col('Date').str.strptime(pl.Date, strict=False))
<ipython-input-9-2e5370ced5c8>:2: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  bikeSharingDF.with_column(pl.col('Date').dt.year().alias('year')).groupby('year').agg(pl.col('Rented Bike Count').sum())

shape: (2, 2)
┌──────┬───────────────────┐
│ year ┆ Rented Bike Count │
│ ---  ┆ ---               │
│ i32  ┆ i64               │
╞══════╪═══════════════════╡
│ 2018 ┆ 5986984           │
│ 2017 ┆ 185330            │
└──────┴───────────────────┘

##Exercise 7
Display the average number of rentals per hour.

In [ ]:
avgRentalsPerHour = 
avgRentalsPerHour

shape: (24, 2)
┌──────┬───────────────────┐
│ Hour ┆ Rented Bike Count │
│ ---  ┆ ---               │
│ i64  ┆ f64               │
╞══════╪═══════════════════╡
│ 0    ┆ 541.460274        │
│ 22   ┆ 922.79726         │
│ 4    ┆ 132.591781        │
│ 8    ┆ 1015.70137        │
│ …    ┆ …                 │
│ 1    ┆ 426.183562        │
│ 23   ┆ 671.126027        │
│ 5    ┆ 139.082192        │
│ 9    ┆ 645.983562        │
└──────┴───────────────────┘

##Exercise 8
Display the days with the highest number of rentals.

<ipython-input-14-cc31761fccca>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  bikeSharingDF.with_column(pl.col('Date').dt.day().alias('day')).groupby('day').agg(pl.col('Rented Bike Count').sum())

shape: (31, 2)
┌─────┬───────────────────┐
│ day ┆ Rented Bike Count │
│ --- ┆ ---               │
│ u32 ┆ i64               │
╞═════╪═══════════════════╡
│ 16  ┆ 207127            │
│ 15  ┆ 209554            │
│ 31  ┆ 130440            │
│ 14  ┆ 220070            │
│ …   ┆ …                 │
│ 2   ┆ 165973            │
│ 18  ┆ 183589            │
│ 1   ┆ 201300            │
│ 17  ┆ 216553            │
└─────┴───────────────────┘

##Exercise 9
Display the average number of rentals per season.

In [ ]:
avgRentalsBySeason = 
avgRentalsBySeason

shape: (4, 2)
┌─────────┬───────────────────┐
│ Seasons ┆ Rented Bike Count │
│ ---     ┆ ---               │
│ str     ┆ f64               │
╞═════════╪═══════════════════╡
│ Summer  ┆ 1034.07337        │
│ Autumn  ┆ 819.597985        │
│ Spring  ┆ 730.03125         │
│ Winter  ┆ 225.541204        │
└─────────┴───────────────────┘

In [ ]:
bikeSharingDF.columns

['Date',
 'Rented Bike Count',
 'Hour',
 'Temperature(°C)',
 'Humidity(%)',
 'Wind speed (m/s)',
 'Visibility (10m)',
 'Dew point temperature(°C)',
 'Solar Radiation (MJ/m2)',
 'Rainfall(mm)',
 'Snowfall (cm)',
 'Seasons',
 'Holiday',
 'Functioning Day']

##Exercise 10
Display the average number of rentals for Holiday and no Holiday.

In [ ]:
avgRentalsByWeather = 
avgRentalsByWeather

shape: (2, 2)
┌────────────┬───────────────────┐
│ Holiday    ┆ Rented Bike Count │
│ ---        ┆ ---               │
│ str        ┆ f64               │
╞════════════╪═══════════════════╡
│ No Holiday ┆ 715.228026        │
│ Holiday    ┆ 499.756944        │
└────────────┴───────────────────┘

##Exercise 11
Display the average number of rentals per day of the week.

In [ ]:
avgRentalsByDayOfWeek = 
avgRentalsByDayOfWeek

shape: (7, 2)
┌──────┬───────────────────┐
│ Date ┆ Rented Bike Count │
│ ---  ┆ ---               │
│ u32  ┆ f64               │
╞══════╪═══════════════════╡
│ 4    ┆ 690.704327        │
│ 6    ┆ 709.528846        │
│ 2    ┆ 687.977564        │
│ 1    ┆ 730.563301        │
│ 7    ┆ 625.155449        │
│ 5    ┆ 747.117925        │
│ 3    ┆ 740.349359        │
└──────┴───────────────────┘

##Exercise 12
Display the average number of rentals per month.

In [ ]:
avgRentalsByMonth = 
avgRentalsByMonth

shape: (12, 2)
┌──────┬───────────────────┐
│ Date ┆ Rented Bike Count │
│ ---  ┆ ---               │
│ u32  ┆ f64               │
╞══════╪═══════════════════╡
│ 4    ┆ 728.093056        │
│ 8    ┆ 876.192204        │
│ 2    ┆ 225.941964        │
│ 6    ┆ 1245.676389       │
│ …    ┆ …                 │
│ 11   ┆ 646.826389        │
│ 3    ┆ 511.551075        │
│ 7    ┆ 987.177419        │
│ 5    ┆ 950.387097        │
└──────┴───────────────────┘

## Exercise 13
Display the busiest hour of the day.

In [ ]:
busiestHour = 
busiestHour

<ipython-input-33-a79c03ba7921>:1: DeprecationWarning: `reverse` is deprecated as an argument to `sort`; use `descending` instead.
  busiestHour = bikeSharingDF.groupby('Hour').agg(pl.col('Rented Bike Count').sum()).sort(by='Rented Bike Count', reverse=True).head(4)

shape: (4, 2)
┌──────┬───────────────────┐
│ Hour ┆ Rented Bike Count │
│ ---  ┆ ---               │
│ i64  ┆ i64               │
╞══════╪═══════════════════╡
│ 18   ┆ 548568            │
│ 19   ┆ 436229            │
│ 17   ┆ 415556            │
│ 20   ┆ 390172            │
└──────┴───────────────────┘

## Exercise 14
Display the busiest day of the year.

In [ ]:
busiestDayOfYear = 
busiestDayOfYear

<ipython-input-36-86d07a481685>:1: DeprecationWarning: `reverse` is deprecated as an argument to `sort`; use `descending` instead.
  busiestDayOfYear = bikeSharingDF.groupby(pl.col('Date').dt.year()).agg(pl.col('Rented Bike Count').sum()).sort(by='Rented Bike Count', reverse=True)

shape: (2, 2)
┌──────┬───────────────────┐
│ Date ┆ Rented Bike Count │
│ ---  ┆ ---               │
│ i32  ┆ i64               │
╞══════╪═══════════════════╡
│ 2018 ┆ 5986984           │
│ 2017 ┆ 185330            │
└──────┴───────────────────┘

##Exercise 15
Display the average number of rentals per hour, grouped by Holiday or no Holiday.

In [ ]:
avgRentalsByHourAndWeather = 
avgRentalsByHourAndWeather

shape: (3, 3)
┌─────────┬──────┬───────────────────┐
│ Holiday ┆ Hour ┆ Rented Bike Count │
│ ---     ┆ ---  ┆ ---               │
│ str     ┆ i64  ┆ f64               │
╞═════════╪══════╪═══════════════════╡
│ Holiday ┆ 22   ┆ 596.833333        │
│ Holiday ┆ 8    ┆ 348.5             │
│ Holiday ┆ 11   ┆ 510.0             │
└─────────┴──────┴───────────────────┘

##Exercise 16

Display the busiest hour of the day for each season.

In [ ]:
from polars.functions.lazy import first

busiestHourBySeason = 
busiestHourBySeason

<ipython-input-43-3794bff40f22>:2: DeprecationWarning: `reverse` is deprecated as an argument to `sort`; use `descending` instead.
  busiestHourBySeason = bikeSharingDF.groupby(['Seasons', 'Hour']).agg(pl.col('Rented Bike Count').mean()).sort(by='Rented Bike Count', reverse=True).groupby('Seasons').agg(pl.col('Hour').first())

shape: (4, 2)
┌─────────┬──────┐
│ Seasons ┆ Hour │
│ ---     ┆ ---  │
│ str     ┆ i64  │
╞═════════╪══════╡
│ Winter  ┆ 18   │
│ Spring  ┆ 18   │
│ Summer  ┆ 18   │
│ Autumn  ┆ 18   │
└─────────┴──────┘

##Exercise 17
Display the average number of rentals per hour, grouped by day of the week.

In [ ]:
avgRentalsByHourAndDayOfWeek = 
avgRentalsByHourAndDayOfWeek

shape: (168, 3)
┌──────┬──────┬───────────────────┐
│ Date ┆ Hour ┆ Rented Bike Count │
│ ---  ┆ ---  ┆ ---               │
│ u32  ┆ i64  ┆ f64               │
╞══════╪══════╪═══════════════════╡
│ 3    ┆ 6    ┆ 321.134615        │
│ 4    ┆ 12   ┆ 640.769231        │
│ 7    ┆ 15   ┆ 959.115385        │
│ 1    ┆ 20   ┆ 1181.25           │
│ …    ┆ …    ┆ …                 │
│ 2    ┆ 12   ┆ 653.576923        │
│ 4    ┆ 11   ┆ 553.384615        │
│ 1    ┆ 15   ┆ 782.634615        │
│ 2    ┆ 0    ┆ 473.461538        │
└──────┴──────┴───────────────────┘

##Exercise 18
Display the percentage of rentals that were taken on weekends.

In [ ]:
totalRentals = 
weekendRentals = 
weekendPercentage = weekendRentals / totalRentals * 100
print("Percentage of rentals that were taken on weekends:", weekendPercentage)

Percentage of rentals that were taken on weekends: 26.986410607107803